.hideOff-hide
{
	opacity: 0.6 !important;
}
.hideOff-cont
{
	position: relative;
	z-index:10;
	overflow: hidden;
}
.hideOff-show
{
	position:absolute;
	bottom:2px;
	right:2px;
	height:0px;
	width:0px;
	border-left: 15px solid transparent;
	border-bottom: 15px solid orange;
	z-index:10000;
	cursor: pointer;
	 display: none;
}
.hideOff-show img
{
	z-index:20;
}

.hideOffDarker-hide
{
	opacity: 0.1 !important;
}
.hideOffDarker-cont
{
	position: relative;
	z-index:10;
	overflow: hidden;
}
.hideOffDarker-show
{
	position:absolute;
	bottom:2px;
	left:2px;
	height:0px;
	width:0px;
	border-right: 15px solid transparent;
	border-bottom: 15px solid orange;
	z-index:10000;
	cursor: pointer;
	 display: none;
}
.hideOffDarker-show img
{
	z-index:20;
}